

<div id="menu">
    <h2>Introduction</h3>
    <ul>
        <li><a href="{{ site.url }}/index.html">Home</a></li>
        <li><a href="{{ site.url }}/coding.html">Learning to code</a></li>
        <li><a href="{{ site.url }}/about.html">About</a></li>
    </ul>
    <h2>First Steps</h3>
    <ul>
        <li><a href="{{ site.url }}/basics/hello.html">Hello Processing</a></li>
        <li><a href="{{ site.url }}/basics/color.html">Color</a></li>
        <li><a href="{{ site.url }}/animation">Animation</a></li>
        <li><a href="{{ site.url }}/bouncing_ball">Bouncing ball</a></li>
    </ul>
    <h2>Basics</h3>
    <ul>
        <li><a href="{{ site.url }}/functions">Functions</a></li>
        <li><a href="{{ site.url }}/states">States</a></li>
        <li><a href="{{ site.url }}/game_state">Game state</a></li>
        <li><a href="{{ site.url }}/images">Images</a></li>
        <li><a href="{{ site.url }}/simpleFontExamples">Font examples</a></li>
        <li><a href="{{ site.url }}/simpleCollisionDetection">Simple collision detection</a></li>
        <li><a href="{{ site.url }}/circleCollisionDetection">Circle collision detection</a></li>
    </ul>
    <h2>Object Oriented Programming</h3>
    <ul>
        <li><a href="{{ site.url }}/classes_1">Classes 1</a></li>
        <li><a href="{{ site.url }}/classes_2">Classes 2</a></li>
        <li><a href="{{ site.url }}/classes_3">Classes 3</a></li>
    </ul>
    <h2>Miscellaneous</h3>
    <ul>
        <li><a href="{{ site.url }}/timer">Timer</a></li>
        <li><a href="{{ site.url }}/rotation">Rotation</a></li>
        <li><a href="{{ site.url }}/kaleidoscope">Kaleidoscope</a></li>
        <li><a href="{{ site.url }}/smoothMotion">Smooth motion</a></li>
        <li><a href="{{ site.url }}/explode">Explosions</a></li>
    </ul>
</div>


