/* dk */

#main {
    float: left; 
    margin: 1%;
    padding: 1.5%;
    width: 60%;
}


#menu {
    float: left; 
    margin: 1%;
    padding: 1.5%;
    width: 25%;
    min-width: 250px;
    background-color: $body-background;
    border-style: solid;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 24px;
}


#menu h1 {
    font-size: 1.7em;
    text-align: center;
}


#menu h2 {
    font-size: 1.2em;
    text-align: center;
}


#menu li {
    margin-left: -20px;
    list-style-type: none;
    font-weight: normal;
}


#menu a:link, #menu a:visited {
    color: $body-foreground;
    text-decoration: none;
}

#menu a:hover {
    font-weight:bold;
}


#menu p {
    text-align: center;
}


#menu img {
    /* center the image */
    display: block;
    margin-left: auto;
    margin-right: auto 
}


#menu email {
    display: block;
    font-size: .8em;
    text-align: center;
}





